html,
body,
#root {
  height: 100%;
}

body {
  font-family: PT Sans, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

#page-content {
  flex: 1 0 auto;
}

.btn {
  border-radius: 0;
}

.pre-wrap {
  white-space: pre-wrap
}

.well {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-top: 2px solid #000;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.well a {
  display: inline-block;
  margin-top: 20px;
}

.modal-100w {
  max-width: 100%;
}


.box-shadow-custom {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(94, 255, 247, 0.062);
  z-index: 2;
  cursor: pointer;
}

#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -100px;
  overflow-x: hidden;
  padding: 10px;
  background: white;

  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#sidebar.active {
  width: 300px;
  left: 0;
}


.post {
  padding: 25px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11);
}

.post h1 {
  font-size: 2rem;
}