html,
body,
#root {
  height: 100%;
}

body {
  font-family: PT Sans, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

#page-content {
  flex: 1 0 auto;
}

.btn {
  border-radius: 0;
}

.pre-wrap {
  white-space: pre-wrap
}

.well {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-top: 2px solid #000;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.well a {
  display: inline-block;
  margin-top: 20px;
}

#overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(94, 255, 247, 0.062);
  z-index: 2;
  cursor: pointer;
}